<div modal="showModal">
  <div class="panel-heading">
    <h4>Confirmar Emisi&oacute;n</h4>
  </div>

    <div class="panel-body">
      <div class="modal-wrapper">
	<div class="modal-icon modal-block-warning" >
	  <i class="fa fa-warning"></i>
	</div>
	<div class="modal-text">
	  <h4>Confirmar emisi&oacute;n</h4>
	  <p>Usted ha terminado el proceso de Emisi&oacute;n. El pr&oacute;ximo paso generar&aacute; la P&oacute;liza. Si esta de acuerdo puede continuar, sino puede cancelar</p>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
          <button class="btn btn-primary" ng-click="emitir()">Emitir</button>
          <button class="btn" ng-click="cancelar()">Cancelar</a>
	</div>
      </div>
    </footer>
  </section>
</div>
