<div modal="showModal">
  <div class="panel-heading">
    <h4>&Eacute;xito</h4>
  </div>

    <div class="panel-body">
      <div class="modal-wrapper">
	<div class="modal-icon modal-block-success" >
	  <i class="fa fa-check"></i>
	</div>
	<div class="modal-text">
	  <h4>&Eacute;xito <span ng-if="title">({{title}})</span></h4>
	  <p>{{ mensaje }}</p>
	  <p ng-if="mensaje2">{{mensaje2}}</p>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
	  <button class="btn btn-success" ng-click="cerrar()">Ok</button>
	</div>
      </div>
    </footer>
  </section>
</div>
