<div modal="showModal">
  <div class="panel-heading">
    <h4>Confirmar Requisitos</h4>
  </div>
  <div class="panel-body">
    <div class="modal-wrapper">
      <div class="modal-icon modal-block-warning" >
	<i class="fa fa-warning"></i>
      </div>
      <div class="modal-text">
	<h4>Confirmar Requisitos</h4>
	<p>Usted confirma que realizó la revisión y conformó el expediente de acuerdo a las políticas de suscripción.</p>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
          <button class="btn btn-primary" ng-click="confirma()">Aceptar Condiciones</button>
          <button class="btn btn-primary" ng-click="confirma_cancelar()">Cancelar</a>
	</div>
      </div>
    </footer>
  </section>
</div>
