<div class="row" cambio-fondo="home">
  <div class="col-lg-12">
    <h3>Bienvenido al Portal de Intermediarios</h3>
  </div>

  <div class="col-lg-7">
    <div class="col-lg-12">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="assets/images/icon_automovil.png" width="100%"/>
    </div>
    </div>
    <div class="col-lg-2 text-center">
      <a href="#/cotizacion/vehiculo" class="verde-atrio2">
        <i class="fa fa-edit fa-3x"></i><br/>
        Cotizaci&oacute;n
      </a>
    </div>
    
    <div class="col-lg-2 text-center">
      <a href="http://portales.atrioseguros.com:8080/img/Planes_Atrio_2017_para_Hogar_def.xlsx" target="_blank"  class="verde-atrio2">
        <i class="fa fa-edit fa-3x"></i><br/>
        Cotizador Patrimoniales
      </a>
    </div>

    <div class="col-lg-2 text-center">
      <a href="http://portales.atrioseguros.com:8080/img/RC_Personal.xlsx" target="_blank" class="verde-atrio2">
        <i class="fa fa-edit fa-3x"></i><br/>
        Cotizador Responsabilidad
      </a>
    </div>
    
    <div class="col-lg-2 text-center">
      <a href="#/cotizacion/lista" class="verde-atrio2">
        <i class="fa fa-list fa-3x"></i><br/>
        Cotizaciones
      </a>
    </div>

    <div class="col-lg-2 text-center" ng-show="mostrarEmisor() >= 0">
      <a href="#/emision/vehiculo" class="verde-atrio2">
        <i class="fa fa-mail-forward fa-3x"></i><br/>
        Emisi&oacute;n
      </a>
    </div>


    <!--
    <div class="col-lg-4 text-center">
      <a href="#/siniestro" class="verde-atrio2">
        <i class="fa fa-clipboard fa-3x"></i><br/>
        Siniestro
      </a>
    </div>
    -->
  </div>

<!--
  <div class="col-lg-6 separador-izquierda">
    <div class="col-lg-12">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="assets/images/icon_personas.png" width="100%"/>
    </div>
    </div>
    <div class="col-lg-4 text-center">
      <a href="#/cotizacion/vehiculo" class="naranja-atrio2">
        <i class="fa fa-edit fa-3x"></i><br/>
        Cotizaci&oacute;n
      </a>
    </div>
    <div class="col-lg-4 text-center">
      <a href="#/emision/vehiculo" class="naranja-atrio2">
        <i class="fa fa-mail-forward fa-3x"></i><br/>
        Emisi&oacute;n
      </a>
    </div>

    <div class="col-lg-4 text-center">
      <a href="#/siniestro" class="naranja-atrio2">
        <i class="fa fa-clipboard fa-3x"></i><br/>
        Siniestro
      </a>
    </div>

  </div>
-->
</div>
