<div class="col-md-8 col-md-offset-2" cambio-fondo="">
  <header class="panel-heading">
    <h2 class="panel-title">Cambiar Contraseña</h2>
  </header>
  <div id="edit" class="tab-content">
    <div class="alert alert-info">
      <p>Por favor ingrese los datos solicitados para realizar el cambio de clave.</p><br/>
      <p class="m-none text-semibold h6">ACLARATORIA: El bot&oacute;n se activar&aacute; solo cuando se cumplan todas las condiciones</p>
    </div>
    <form class="form-horizontal">
      <fieldset class="mb-xl">
        <!-- Clave Actual -->
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1 control-label">Clave Actual</label>
          <div class="col-md-4">
            <div class="input-group input-group-icon">
              <input type="password" class="form-control" id="profileNewPassword" ng-model="claveActual">
              <span class="input-group-addon">
                <span class="icon">
                  <i ng-show="claveActualOk()" class="fa fa-check tiene-exito"></i>
                  <i ng-show="claveActual.length > 0 && !(claveActualOk())" class="fa fa-times tiene-error"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- Clave Nueva -->
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1 control-label">Clave Nueva</label>
          <div class="col-md-4">
            <div class="input-group input-group-icon">
              <input type="password" class="form-control" id="profileNewPassword" ng-model="claveNueva">
              <span class="input-group-addon">
                <span class="icon">
                  <i ng-show="claveNuevaOk()" class="fa fa-check tiene-exito"></i>
                  <i ng-show="claveNueva.length > 0 && !(claveNuevaOk())" class="fa fa-times tiene-error"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
        <!-- Clave Confirmacion -->
        <div class="form-group">
          <label class="col-md-4 col-md-offset-1 control-label">Clave Confimaci&oacute;n</label>
          <div class="col-md-4">
            <div class="input-group input-group-icon">
              <input type="password" class="form-control" id="profileNewPasswordRepeat" ng-model="claveConfirma">
              <span class="input-group-addon">
                <span class="icon">
                  <i ng-show="claveConfirmaOk()" class="fa fa-check tiene-exito"></i>
                  <i ng-show="claveConfirma.length > 0 && !(claveConfirmaOk());" class="fa fa-times tiene-error"></i>
                </span>
              </span>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-3 col-md-offset-6 margen-adicional">
            <div ng-click="enviar()" class="btn btn-primary btn-block" ng-disabled="cambiarNoOk()">Cambiar</div>
          </div>
          <div class="col-md-3 margen-adicional">
            <button type="reset" class="btn btn-default btn-block">Limpiar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
