<div modal="showModal">
  <div class="panel-heading">
    <h4>Precauci&oacute;n</h4>
  </div>

    <div class="panel-body">
      <div class="modal-wrapper">
	<div class="modal-icon modal-block-warning" >
	  <i class="fa fa-warning"></i>
	</div>
	<div class="modal-text">
	  <h4>Sesi&oacute;n Inactiva</h4>
	  <p>Estuvo mucho tiempo inactivo por lo que se va a cerrar la sesi&oacute;n para proteger sus datos.</p>
	  <br/>
	  <bold>Reealice una acci&oacute;n para que evite el cierre de sesi&oacute;n</bold>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
	  <a href="/atrio-web/" class="btn btn-warning" role="button">Aceptar</a>
	</div>
      </div>
    </footer>
  </section>
</div>
