<div modal="showModal">
  <div class="panel-heading">
    <h4>Atenci&oacute;n</h4>
  </div>

  <div class="panel-body">
    <div class="modal-wrapper">
      <div class="modal-icon modal-block-info">
	<i class="fa fa-info-circle"></i>
      </div>
      <div class="modal-text">
	<h4>Su Sesi&oacute;n Ha Expirado</h4>
	<p>No hemos detectado actividad en los &uacute;ltimos minutos. Por su seguridad la sesi&oacute;n ha expirado, por favor ingrese nuevamente su identificaci&oacute;n y contrase&ntilde; para continuar utilizando el sistema.</p>
      </div>
    </div>
  </div>

  <footer class="panel-footer">
    <div class="row">
      <div class="col-md-12 text-right">
	<a href="/atrio-web/" class="btn btn-info" role="button">Iniciar Sesi&oacute;n</a>
      </div>
    </div>
  </footer>
</div>
