    <style>
      #mail, #banner img {
        width: 550px;
      }
      #cuerpo {
        padding-top: 10px;
      }
      #cabecera {
        background: white;
        padding: 10px;
      }
      #nombre {
        margin-top: 5px,
        margin-bottom: 20px;
      }
      #felicidades {
        margin-bottom: 50px;
      }
      .espacio {
        heigth: 20px;
      }
      .letra-azul {
        color: #0033a0;
      }
      .fondo-azul {
        background: #0033a0;
        color:  white;
        padding: 10px;
        font-weight: bold;
      }
      .fondo-gris {
        padding: 10px;
        background:  #f1f1f1;
      }
      .fondo-gris a {
        color: #a1a1a1;
      }
      .text-center {
        text-align:center;
      }
    </style>

