<div id="w1-solicitante" class="tab-pane active">
  <div class="col-lg-11 text-right">
    <a href="/atrio-web/assets/downloads/manual_cotizacion.pdf" target="_blank"><i class="fa fa-file-pdf-o" ></i> Descargar el manual de usuario</a>.
  </div>
  <div class="form-group" ng-show="mostrarEmpleado() >= 0">
    <label class="col-md-3 control-label">Intermediario</label>

    <div class="col-md-8">
      <select class="form-control" name="intermediario" ng-model="$parent.intermediario" ng-options="intermediario.nombre for intermediario in $parent.intermediarios">
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">C&eacute;dula o RIF</label>

    <div class="col-md-3">
      <select class="form-control" name="solicitanteTipoId" ng-model="solicitante.tipoId" ng-options="tipoId for tipoId in tiposId"  ng-change="limpiarFormulario()">
      </select>
    </div>
    <div class="col-md-5">
      <input type="text" class="form-control" name="solicitanteNumId" ng-model="solicitante.numId" ng-enter="buscarAsegurado()" ng-blur="buscarAsegurado()" data-plugin-maxlength="" maxlength="9" solo-numeros required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Nombre</label>

    <div class="col-md-8">
      <input type="text" class="form-control" name="nombre" ng-model="solicitante.nombre" required ng-readonly="userexists" data-plugin-maxlength="" maxlength="50">
    </div>
  </div>
  <div class="form-group" ng-hide="solicitante.tipoId == 'Jurídico' || solicitante.tipoId == 'Gubernamental'">
    <label class="col-md-3 control-label">Apellidos</label>

    <div class="col-md-8">
      <input type="text" class="form-control" name="apellidos" ng-model="solicitante.apellidos" required ng-readonly="userexists" data-plugin-maxlength="" maxlength="60">
    </div>
  </div>
  <div class="form-group" ng-hide="solicitante.tipoId == 'Jurídico' || solicitante.tipoId == 'Gubernamental'">
    <label class="col-md-3 control-label">Sexo</label>
    <div class="col-md-3">
      <select name="sexo" class="form-control" ng-model="solicitante.sexo" required ng-disabled="userexists" ng-options="sexo for sexo in $parent.sexos">
        <option value="">-- seleccione --</option>
      </select>
    </div>
  </div>
  <div class="form-group" ng-hide="solicitante.tipoId == 'Jurídico' || solicitante.tipoId == 'Gubernamental'">
    <label class="col-md-3 control-label">Fecha de Nacimiento</label>

    <div class="col-md-3">
      <div class="input-group">
	<input name="fechaNacimiento" type="text" data-provide="datepicker" class="form-control" ng-model="solicitante.fechaNacimiento" data-date-format="dd/mm/yyyy"
               data-date-language="es" id="date" placeholder="__/__/____" required ng-disabled="userexists" data-date-end-date="-18y" data-date-start-date="-150y" data-date-autoclose="true">
        <span class="input-group-addon btn" ng-click="clicked();" > <i class="fa fa-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label" for="inputDefault">Estado</label>

    <div class="col-md-8">
      <select name="estado" class="form-control" ng-model="solicitante.estado" ng-options="estado.descestado for estado in estados" ng-change="buscarCodAreas()" required>
        <option value="">-- seleccione --</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Tel&eacute;fono 1</label>

    <div class="col-md-2">
      <select class="form-control" ng-model="solicitante.codArea1" ng-options="codArea.codtelefono for codArea in codAreas" name="codArea1" required>
        <option value="">c&oacute;digo</option>
      </select>
    </div>
    <div class="col-md-6">
      <input type="text" name="telefono1" class="form-control phone" ng-model="solicitante.telefono1"
             placeholder="___-____" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Tel&eacute;fono 2</label>

    <div class="col-md-2">
      <select class="form-control" ng-model="solicitante.codArea2" ng-options="codArea.codtelefono for codArea in codAreas" name="codArea2">
        <option value="" &nbsp;>c&oacute;digo</option>
      </select>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control phone" name="telefono2" ng-model="solicitante.telefono2" placeholder="___-____">
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-3 control-label">Correo Electr&oacute;nico</label>

    <div class="col-md-8">
      <input type="email" class="form-control" name="email" ng-model="solicitante.email" required data-plugin-maxlength="" maxlength="80">
    </div>
  </div>
</div>
