<div modal="showModal">
  <div class="panel-heading">
    <h4>Confirmar Siniestro</h4>
  </div>

    <div class="panel-body">
      <div class="modal-wrapper">
	<div class="modal-icon modal-block-warning" >
	  <i class="fa fa-warning"></i>
	</div>
	<div class="modal-text">
	  <h4>Confirmar siniestro</h4>
	  <p>Usted ha terminado el proceso de declaraci&oacute;n de siniestro. El pr&oacute;ximo paso declarar&aacute; un siniestro. Debe verificar si la informaci&oacute;n suministrada es correcta antes de proceder con la activaci&oacute;n, ya que una vez procesada no se podr&aacute; modificar o incluir nuevos datos.</p>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
          <button class="btn btn-primary" ng-click="emitir()">Declarar</button>
          <button class="btn" ng-click="cancelar()">Cancelar</a>
	</div>
      </div>
    </footer>
  </section>
</div>
