<div modal="showModal">
  <div class="panel-heading">
    <h4>Finalizada la Declaraci&oacute;n de Siniestro</h4>
  </div>

    <div class="panel-body">
      <div class="modal-wrapper">
	<div class="modal-icon modal-block-primary" >
	  <i class="fa fa-check"></i>
	</div>
	<div class="modal-text">
	  <h4>Finalizada la Declaraci&oacute;n de Siniestro</h4>
	  <p>Usted ha terminado el proceso de Declaraci&oacute;n.</p>
	</div>
      </div>
    </div>
    <footer class="panel-footer">
      <div class="row">
	<div class="col-md-12 text-right">
          <button class="btn btn-primary" ng-click="nuevoSiniestro()">Declarar otro siniestro</button>
          <button class="btn" ng-click="inicio()">Ir a Inicio</a>
	</div>
      </div>
    </footer>
  </section>
</div>
